/*
 * @Author: xiewenhao
 * @Date: 2023-05-30 09:53:02
 * @LastEditTime: 2023-05-30 15:30:23
 * @Description: 
 */
.App {
  background-color: rgba(0, 0, 0, .08);
}

.page-content{
  width:1230px;
  margin-left: auto;
  margin-right: auto;
  min-height:75vh
}